.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: lightgreen; */
    max-width: 220px;
    margin: auto;
    /* border-radius: 200px; */
    /* margin-top: 300px; */
    cursor: pointer;
    /* border: 1px solid gray; */
}

.main-text {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 21px;
    padding: 4px;
    margin-top: 10px;
}

.main-copy {
    color: gray;
    text-align: center;
    max-width: 390px;
    margin-bottom: 40px !important;
    line-height: 24px;
    margin-top: 20px !important;
    margin: auto;
}

.main-heading {
    text-align: center;
    font-size: 100px;
    margin-bottom: 2px;
}


.main-heading:hover {
    color: lightgreen;
}

.nsm7Bb-HzV7m-LgbsSe {
    background-color: unset !important;
    border: unset !important;
}

.main-btn:hover {
    opacity: .9;
}

.nsm7Bb-HzV7m-LgbsSe {
    background-color: unset !important;
    width: 220px !important;
    border-radius: 200px !important;
}